html,
body {
  min-height: 100%;
  height: 100%;
}
body,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
#app {
  min-height: 100%;
  height: 100%;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
/** total-detail **/
.h100 {
  padding: 0 10px;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
}
.w100 {
  width: 100px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w50 {
  width: 50px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-coloumn {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-v-m {
  align-items: center;
}
.flex-3 {
  flex: 3;
}
.flex-2 {
  flex: 2;
}
.flex-1 {
  flex: 1;
}
.visiblenone {
  visibility: hidden;
}
.el-form-item__content {
  margin-left: 0 !important;
}
.el-form-item {
  margin-bottom: 0;
}
.pd-10 {
  padding: 10px;
}
.pd-5 {
  padding: 5px;
}
.pd-0 {
  padding: 0;
}
.p-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.p-l-r-10 {
  padding: 0 10px;
}
.el-form-item__content {
  line-height: 28px;
}
.bg1 {
  background: #F2F6FC;
}
.bg2 {
  background: rgb(240, 249, 235);
}
.bg3 {
  background: rgb(254, 240, 240);
}
.inline-block {
  display: inline-block;
}
.text-red {
  color: red;
}
.h28 .flex {
  height: 28px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.right-500 {
  right: -500px;
  top: 0px;
}